#caixa{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 20px;

}

.nova-borda{
    border: 5px solid red;
}

.tamanho-grande{
    width: 300px;
    height: 150px;
}